# Ignore everything
*
!.gitignore


# Except for the below directories
# Documentation
!Docs/
!Docs/Script_Pack_10_Nazi_Zombies_v2
!Docs/Script_Pack_10_Nazi_Zombies_v2/*


# Project files
!Files

# Scripts
!Files/scriptbank
!Files/scriptbank/Script_Pack_10_Nazi_Zombies_v2
!Files/scriptbank/Script_Pack_10_Nazi_Zombies_v2/*
!Files/scriptbank/Script_Pack_10_Nazi_Zombies_v2/*/*
!Files/scriptbank/Script_Pack_10_Nazi_Zombies_v2/*/*/*

# Maps
!Files/mapbank
!Files/mapbank/Script_Pack_10_Nazi_Zombies_v2
!Files/mapbank/Script_Pack_10_Nazi_Zombies_v2/*

# Entities
!Files/entitybank
!Files/entitybank/Script_Pack_10_Nazi_Zombies_v2
!Files/entitybank/Script_Pack_10_Nazi_Zombies_v2/*
!Files/entitybank/Script_Pack_10_Nazi_Zombies_v2/*/*
!Files/entitybank/Script_Pack_10_Nazi_Zombies_v2/*/*/*

# Audio
!Files/audiobank
!Files/audiobank/Script_Pack_10_Nazi_Zombies_v2
!Files/audiobank/Script_Pack_10_Nazi_Zombies_v2/*
!Files/audiobank/Script_Pack_10_Nazi_Zombies_v2/*/*

# Huds
!Files/gamecore
!Files/gamecore/huds
!Files/gamecore/huds/Script_Pack_10_Nazi_Zombies_v2
!Files/gamecore/huds/Script_Pack_10_Nazi_Zombies_v2/*


# Ignore bin and dbo files
*.bin
*.dbo
*.docx
